@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: hsl(245, 75%, 52%);
  --background-color: hsl(225, 100%, 94%);

  --pale-blue: hsl(225, 100%, 98%);
  --dark-blue: hsl(224, 23%, 55%);
  --desaturated-blue: hsl(223, 47%, 23%);

  --white: hsl(360, 100%, 100%);
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: url("../images/pattern-background-mobile.svg") top/contain
    no-repeat;
  background-color: var(--background-color);
}

p {
  font-size: 16px;
  color: var(--dark-blue);
}

/* Utility */
.center {
  text-align: center;
}

.btn {
  display: block;
  width: 90%;
  margin: 1rem auto;
  padding: 0.7em;
  border-radius: 10px;
  font-weight: 700;
  font-family: "Red Hat Display", sans-serif;
}

.main-container {
  width: 80%;
  max-width: 375px;
  margin: 10vh auto;
}

.hero-img-container img {
  display: block;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.content-container {
  padding: 1rem;
  background-color: var(--white);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0px 3px 5px var(--dark-blue);
          box-shadow: 0px 3px 5px var(--dark-blue);
}

.card-plan-outer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-heading {
  margin: 1rem auto;
  font-weight: 900;
}

.card-description {
  width: 85%;
  margin: auto;
  margin-bottom: 2rem;
}

.card-plan-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  background-color: var(--pale-blue);
  padding: 1.2rem;
  border-radius: 10px;
}

.card-plan-heading,
.card-plan,
.card-plan-link {
  font-size: 1rem;
}

.card-plan-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-plan-link:hover {
  opacity: 0.7;
  text-decoration: none;
}

.btn-primary {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
  -webkit-box-shadow: 0px 5px 15px var(--dark-blue);
          box-shadow: 0px 5px 15px var(--dark-blue);
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  border: none;
  background-color: var(--white);
  color: var(--dark-blue);
}

.btn-secondary:hover {
  color: var(--desaturated-blue);
}
@media screen and (min-width: 376px) and (max-width: 1440px) {
  body {
    background: url("../images/pattern-background-desktop.svg") top/contain
      no-repeat;
    background-color: var(--background-color);
  }

  .main-container {
    width: 90%;
  }
}

.attribution {
  text-align: center;
  margin-bottom: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}